/* =============
    Base
============= */

.container{
    display:grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: 
    ". content ."
    ;

    @include xl{
        grid-template-columns: auto 1140px auto;
    }

    @include xxl{
        grid-template-columns: auto 1320px auto;
    }

    .content{
        grid-area:content;
    }
}