/* =============
  HERO DETAILS
============= */

.details{

    .content{
        display: grid;
        grid-template-columns: 100%;
        color: $gamestop-white;

        .arrow{
            width:10px;
        }

        a{
            color:$gamestop-white;
            text-decoration: none;
            transition: 0.5s;

            img{
                display: inline-block;

            }

            &:hover{
                text-decoration: underline;
                color:$gamestop-red;
                transition: 0.5s;
            }

        }

        @include md { 
            grid-template-columns: 50% auto;
        }

        .sub-content1{
            background-color: $gamestop-black-1;
            padding: 20px;
        
            @include xl{
                grid-template-columns: auto auto 16px;
            }
        
            p{
                margin-bottom: 10px;
            }
        
            h2{
                font-size: 18px;
                margin-bottom:10px;
        
                @include lg{
                    font-size: 24px;
                }
            }
        }

        .sub-content2{
            background-color: $gamestop-black-2;
            padding: 20px;
        
            p{
                margin-bottom: 10px;
            }

            h2{
                font-size: 18px;
                margin-bottom:10px;
        
                @include lg{
                    font-size: 24px;
                }
            }
        
            @include xl{
                grid-template-columns: 16px auto auto;
                }
            }

            margin-bottom: 16px;

    }
} 