/* =============
   MAIN GAMES
============= */

.games{
        ul{
            list-style: none;
            padding-inline-start: 0;
    
            li{
                img{
                    width: 100%;
                }
                  
            }
        }
    }

    @media screen and (max-width: 1200px) {
        li.img-3 {
          display: none;
        }
      }