/* =============
    HERO
============= */

.hero{

    img{
        width: 100%;
    }

    .content{
        display: grid;
        grid-template-columns: 100%;

        .arrow{
            width:10px;
        }
    }
    
}