/* =============
   WHATS NEW
============= */

.news{

    .news-title{
        h2{
            font-weight: 400;
            font-size: 20px;
            color: $gamestop-black-1;

            @include lg{
                font-size: 32px;
            }

            @include xl{
                font-size: 40px;
            }

        }
    }

    .news-article{

        margin-bottom: 24px;

        @include md{
            display: grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas: ". articles .";
        }

        @include xl{
            grid-template-columns: auto 1140 auto;
        }

        .article-grid{
            display: grid;
            grid-template-columns: 100%;
            gap: 15px;

            @include md{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-area: articles;

                grid-template-areas: 
                "a1 a1 a2 a2"
                "a3 a3 a4 a4"
                ". a5 a5 .";
            }

            @include lg{
                grid-template-columns: repeat(6,1fr);
                grid-template-areas: 
                "a1 a1 a2 a2 a3 a3"
                ". a4 a4 a5 a5 .";
            }

            article{
                background-color: $gamestop-black-2;

                img{
                    width: 100%;
                    display: block;
                }

                .container{

                    @include xl{
                        grid-template-columns: 15px auto 15px;
                    }

                    h3{
                        color: $gamestop-white;
                        font-weight: 600;
                        font-size: 27px;
                        padding: 5px;
                        margin-top: 10px;
                        text-align: left;
                    }

                    p{
                        color: $gamestop-white;
                        font-weight: 400;
                        font-size: 16px;
                        padding: 5px;
                        text-align: left;
                        margin-bottom: 10px;
                    }

                    button{
                        color: $gamestop-white;
                        background-color: $gamestop-red;
                        padding: 10px;
                        width:flex;
                        text-decoration: none;
                        border: 1px solid $gamestop-black-1;
                        border-radius: 5px;
                        text-align: center;
                    }
        
                    button{
                        &:hover{
                            cursor: pointer;
                        }
                    }

                    margin-bottom: 15px;

                }

                &.article1{
                    @include md{
                        grid-area: a1;
                    }
                }

                &.article2{
                    @include md{
                        grid-area: a2;
                    }
                }

                &.article3{
                    @include md{
                        grid-area: a3;
                    }
                }

                &.article4{
                    @include md{
                        grid-area: a4;
                    }
                }

                &.article5{
                    @include md{
                        grid-area: a5;
                    }
                }

            }

        }

    }

}