/* =============
   WHATS NEW
============= */

.news{

    .news-article{
        display: grid;
    }
}

@media screen and (min-width: 768px) {

    .news-article {  display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "article1 article1 article2 article2"
          "article1 article1 article2 article2"
          "article3 article3 article4 article4"
          "article3 article3 article4 article4"
          ". article5 article5 ."
          ". article5 article5 .";
      }
      
      .article1 { grid-area: article1; }
      
      .article2 { grid-area: article2; }
      
      .article3 { grid-area: article3; }
      
      .article4 { grid-area: article4; }
      
      .article5 { grid-area: article5; }
      
    
}