/* =============
    PRODUCTS
============= */

.product{

    .product1{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "h2 image"
            "button image"
            ;
            background-color: $gamestop-black-2;
            color: $gamestop-white;

            h2{
                grid-area: h2;
                font-weight: 400;
                font-size: 22px;

                @include md{
                    font-size: 28px;
                }
            }

            a{
                grid-area: button;
            }

            img{
                grid-area: image;
            }
    }
}

@media screen and (min-width: 768px) {
    .content{
        
        display: grid;
        grid-template-columns: 50% 50%;
        gap:15px;
        grid-template-areas:
        "h2 image"
        "button image"
        ;

        h2{
            grid-area: h2;
        }

        a{
            grid-area: button;
        }

        img{
            grid-area: image;
    
    }

}
  }