/* =============
    Search
============= */

.search{
    
    background-color: $gamestop-black-1;
    height: 67px;

    .content{
        display: grid;
        grid-template-columns: auto;
        padding: 10px;

        button{
            color: $gamestop-white;
            background-color: $gamestop-red;
            padding: flex;
            width:flex;
            text-decoration: none;
            border: 1px solid $gamestop-black-1;
            border-radius: 5px;
        }

        input{
            background: transparent;
            border: none;
            border-bottom: 2px solid $gamestop-white;
        }
    }
}