/* =============
    Footer
============= */

footer{
    
    .content{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "logo copyright"
        "logo tina"
        ;

        img{
            grid-area:logo;
        }

        h3{
            grid-area:copyright;
        }

    }

}