/* =============
    Header
============= */

header{

    background-color: $gamestop-white;
    color: white;
    height: 77px;

    .content{
        display:grid;
        grid-template-columns: 50% 50%;

        div{
            margin: 20px 0 20px 0px;
        }

        .site-logo{
            width: 143px;
            align-self: center;

            @include lg{
                width: 200px;
            }
        }
    }
}